
Clinic list

<% @clinics.each do |clinic| %>
<div>
  <ul class="list-unstyled">
   Name:<%= clinic.name %>
   Address:<%= clinic.address %>
   <% clinic.exams.each do |exam| %>
   <%= exam.service %>
   <%= exam.body_part %>
  </ul>
    Price:<%= exam.price %>
  <ul>
     Times:<% exam.timeslots.each do |timeslot| %>

        <%= timeslot.date.strftime('%a %d %b %H:%M') %>
      <% end %>
    <% end %>
  </ul>

  </ul>
<% end %>
</div>
