<p><strong>Payment details</strong></p>
<ul class="list-unstyled">
    <li><strong>Booking Summary:</strong></li>
    <li><%= @timeslot.exam.clinic.name  %> </li>
    <li><%= @timeslot.exam.clinic.address  %> </li>
    <li>Reason:<%= @booking.reason %></li>
    <li>Previous Exams?<%= @booking.previous_exams %></li>
    <li>GP Details: <%= @booking.gp_details %></li>
    <li>Allergies:<%= @booking.allergies %></li>
    <li>Addtional Information:<%= @booking.additional_information %></li>
    <li>Date: <%= @timeslot.date.to_formatted_s(:short) %></li>
    <li>Price: £<%= @timeslot.exam.price %></li>

    <%= link_to(
      "Confirm Booking",
      dashboard_path(current_user),
      class: "btn btn-secondary"
    ) %>



</ul>
<br>
