<div class="confirmed-card">
  <h1 class="confirmed-heading"><strong>Booking Request Submitted</strong></h1>
  <h5 class="confirmed-subtitle"><strong>Please wait to receive confirmation of your booking through Your Dashboard!</strong></h5>
  <h6><strong>Clinic:</strong> <%= @timeslot.exam.clinic.name  %> </h6>
  <h6><strong>Location:</strong> <%= @timeslot.exam.clinic.address  %> </h6>
  <%# <h6><strong>Reason:</strong> <%= @booking.reason %></h6>
  <%# <h6><strong>Previous Exams:</strong> <%= @booking.previous_exams? %></h6>
  <%# <h6><strong>GP Details:</strong> <%= @booking.gp_details %></h6>
  <%# <h6><strong>Allergies:</strong> <%= @booking.allergies %></h6>
  <%# <h6><strong>Addtional Information:</strong> <%= @booking.additional_information</h6> %> 
  <h6><strong>Date:</strong> <%= @timeslot.date.to_formatted_s(:short) %></h6>
  <h6><strong>Price:</strong> £<%= @timeslot.exam.price %></h6><br>

  <div>
    <strong><%= link_to("Go to Dashboard", dashboard_path(current_user), class: "confirmed-btn") %></strong>
  </div>
</div>
