<h1 id="dashboard-header"><strong><%= @user.full_name %>'s Dashboard</strong></h1>
<div class="container-dashboard">
  <div class="dashboard-left">
    <div class="dashboard-profile">
      <div class="profile-left">
      <h3 id="dashboard-subs"><strong>Profile</strong></h3>
        <h6><strong><%= @user.full_name %></strong><h6>
        <%= @user.address %><br>
        <%= @user.phone_number %><br>
        <%= @user.birthday %><br>
      </div>

      <div class="next-booking">
        <h3 id="dashboard-subs"><strong>Next Booking</strong></h3>
        <% @user.bookings.each do |booking| %>
        <%= booking.last %>
        <%= booking.last.result %>


        <% end %>
      </div>
    </div>

    <div class="chatroom-advice">
      <div class="chatroom">
        <h3 id="dashboard-subs"><strong>Chatroom</strong></h3>
      </div>

      <div class="advice">
        <h3 id="dashboard-subs"><strong>Advice</strong></h3>
      </div>
    </div>
  </div>

  <div class="dashboard-right">
    <div class="bookings-profile">
        <h3 id="dashboard-subs"><strong>Previous Bookings</strong>
        <%= @bookings %>
        </h3>

    </div>
  </div>
</div>
