

<div class="mask-group-div" data-controller="collections" data-collections-hash-value="<%= @body_part_services.to_json %>">
  <div class="homepage-div">
    <div class="scanher-background">
    <%= image_tag "1background.png"%>
    </div>
    <div class="form-home">
      <%= simple_form_for :exam, url: clinics_path, method: :get do |f| %>
        <%= f.input :body_part, collection: Exam::BODY_PART, data: { collections_target: "body-parts" }  %>
        <%= f.input :service, collection: Exam::SERVICE, input_html: { data: { action: 'change->collections#updateForm'} } %><br>
        <%= f.submit "Book Now", class: "btn-7" %>
      <% end %>
    </div>

      <div class="where-women-can-get-answers-in">

      <h1 id="logo-home"><strong>scan</strong><i style="color: #5454F2";><strong>Her.</i></strong></h1>

      <h2 class="subtitle-home"><strong>Where women can get answers in days not months</strong></h2>

      <p class="blank-line-p">
        <span><span>&nbsp;</span></span>
      </p>

      <p class="p">
        <span><span> </span></span>
      </p>
      <p class="blank-line-p1">
        <span><span>&nbsp;</span></span>
      </p>
      <p class="blank-line-p2">
        <span><span>&nbsp;</span></span>
      </p>
      <p class="blank-line-p3">
        <span><span>&nbsp;</span></span>
      </p>
    </div>
    <b class="how-it-works">How it works</b>
    <b class="scanning-services-b">Scanning Services</b>
    <b class="reviews-b">Reviews</b>
    <img class="line-icon1" alt="" src="public/line-4.svg" />

       <div class="page-contain">
      <a href="#" class="data-card">
        <h3>Step 1</h3>
        <h4>Care Facilities for women</h4>
        <p>Book your scan with one of our clinics.</p>
        <span class="link-text">
        View All Clinics
        <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z" fill="#753BBD"/>
        </svg>
      </span>
    </a>
    </div>

       <div class="page-contain1">
      <a href="#" class="data-card">
        <h3>Step 1</h3>
        <h4>Care Facilities for women</h4>
        <p>Book your scan with one of our clinics.</p>
        <span class="link-text">
        View All Clinics
        <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z" fill="#753BBD"/>
        </svg>
      </span>
    </a>
    </div>

      <div class="page-contain2">
      <a href="#" class="data-card">
        <h3>Step 1</h3>
        <h4>Care Facilities for women</h4>
        <p>Book your scan with one of our clinics.</p>
        <span class="link-text">
        View All Clinics
        <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z" fill="#753BBD"/>
        </svg>
      </span>
    </a>
    </div>

      <div class="page-contain3">
      <a href="#" class="data-card">
        <h3>Step 1</h3>
        <h4>Care Facilities for women</h4>
        <p>Book your scan with one of our clinics.</p>
        <span class="link-text">
        View All Clinics
        <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z" fill="#753BBD"/>
        </svg>
      </span>
    </a>
    </div>

    </div>
    <div class="clinic-card-div" id="clinicCardContainer">
      <div class="frame-div">
        <img
          class="clinic-banner-icon"
          alt=""
          src="https://d4j2i6ubvolvu.cloudfront.net/sites/default/files/thumbnails/image/Photograph-of-a-MRI.png"/>
        <div class="scan-div"><a href="https://www.nhs.uk/conditions/mri-scan/" target="_blank">MRI</a></div>
        <div class="lorem-ipsum-dolor-sit-amet-co3">
          Magnetic Resonance Imaging uses strong magnetic fields and radio waves to produce detailed images of the inside of the body.
        </div>
        <div class="starting-from-price">
          <span>Starting from</span><span class="price-span"> £300</span>
        </div>
      </div>
    </div>
    <div class="clinic-card-div1" id="clinicCardContainer1">
      <div class="frame-div">
        <img
          class="clinic-banner-icon"
          alt=""
          src="https://healthshare.org.uk/wp-content/uploads/2022/04/AdobeStock_277600458-1024x683-1.jpeg"/>
        <div class="scan-div"><a href="https://www.nhs.uk/conditions/ultrasound-scan/" target="_blank">Ultrasound Scan</a></div>
        <div class="lorem-ipsum-dolor-sit-amet-co3">A procedure that uses high-frequency sound waves to create an image of part of the inside of the body.
        </div>
        <div class="starting-from-price">
          <span>Starting from</span><span class="price-span"> £180 </span>
        </div>
      </div>
    </div>
    <div class="clinic-card-div2" id="clinicCardContainer2">
      <div class="frame-div">
        <img class="clinic-banner-icon"alt="" src="https://eydtc7x2iep.exactdn.com/wp-content/uploads/MRI-Photo-4.jpg?strip=all&lossy=1&fit=1400%2C737&ssl=1"/>
        <div class="scan-div"><a href="https://www.nhs.uk/conditions/ct-scan/" target="_blank">CT Scan</a></div>
        <div class="lorem-ipsum-dolor-sit-amet-co3">A computerised tomography (CT) scan uses X-rays and a computer to create detailed images of the inside of the body.
        </div>
        <div class="starting-from-price">
          <span>Starting from</span><span class="price-span"> £350</span>
        </div>
      </div>
    </div>
    <div class="clinic-card-div3" id="clinicCardContainer3">
      <div class="frame-div">
        <img class="clinic-banner-icon"alt="" src="https://www.babycentre.co.uk/ims/2014/05/457097703_wide.jpg"/>
        <div class="scan-div"><a href="https://www.nhs.uk/pregnancy/your-pregnancy-care/ultrasound-scans/" target="_blank">Pregnancy Scans</a></div>
        <div class="lorem-ipsum-dolor-sit-amet-co3">Ultrasound scans use sound waves to build a picture of the baby in the womb. The scans are painless, and can be carried out at any stage of pregnancy.
        </div>
        <div class="starting-from-price">
          <span>Starting from</span><span class="price-span"> £120 </span>
        </div>
      </div>
    </div>
    <div class="regular-card-icon-top-left">

      <div class="personal-info-div3">Review</div>
      <div class="lorem-ipsum-dolor-sit-amet-co7">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>

    <div class="regular-card-icon-top-left1">
      <img class="icon-park-outlineid-card-h"alt=""src="public/iconparkoutlineidcardh.svg"/>
      <img class="icon-park-outlineid-card-h" alt=""src="public/iconparkoutlineidcardh.svg"/>

      <div class="personal-info-div3">Review</div>
      <div class="lorem-ipsum-dolor-sit-amet-co7">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>

    <div class="regular-card-icon-top-left2">
      <img class="icon-park-outlineid-card-h"alt=""src="public/iconparkoutlineidcardh.svg"/><img class="icon-park-outlineid-card-h" alt="" src="public/iconparkoutlineidcardh.svg"/>
      <div class="personal-info-div3">Review</div>
      <div class="lorem-ipsum-dolor-sit-amet-co7">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>

    <div class="shine-a-light-on-your-reproduc">
      <p class="shine-a-light-on-your-reproduc1">
        <span><span><strong>Shine a light on your reproductive health</strong></span>
        <span class="span"> </span></span>
      </p>
      <p class="blank-line-p4">
        <span><span>&nbsp;</span></span>
      </p>
      <p class="search-for-mri-ct-ultrasound">
        <span><span>Search for MRI, CT, ultrasound and pregnancy scans near you and book an appointment online in minutes.</span></span>
      </p>
      <p class="blank-line-p5"><span>&nbsp;</span></p>
      <p class="blank-line-p3"><span>&nbsp;</span></p>
    </div>
    <div class="three-appointments-wrapped-up">
      Three appointments wrapped up into one, easy-to-use platform with
      dedicated guidance.
    </div>


    <a href="#" class="to-top scroll">Back to top</a>

    <%# <div class="symptoms-or-no-symptoms-book">Symptoms or no symptoms, book a scan that’s right for you and get to know you, like never before. Get the full picture and peace of mind,with direct access to our dedicated expert clinical team.</div> %>
  </div>
</div>

  <section id="section10" class="demo">
    <a href="#thanks"><span></span>Scroll Down</a>
  </section>





<script>
  var clinicCardContainer = document.getElementById("clinicCardContainer");
  if (clinicCardContainer) {
    clinicCardContainer.addEventListener("click", function (e) {
      // Please sync "Info Page" to the project
    });
  }

  var clinicCardContainer1 = document.getElementById("clinicCardContainer1");
  if (clinicCardContainer1) {
    clinicCardContainer1.addEventListener("click", function (e) {
      // Please sync "Info Page" to the project
    });
  }

  var clinicCardContainer2 = document.getElementById("clinicCardContainer2");
  if (clinicCardContainer2) {
    clinicCardContainer2.addEventListener("click", function (e) {
      // Please sync "Info Page" to the project
    });
  }

  var clinicCardContainer3 = document.getElementById("clinicCardContainer3");
  if (clinicCardContainer3) {
    clinicCardContainer3.addEventListener("click", function (e) {
      // Please sync "Info Page" to the project
    });
  }
  </script>
