<div class="mask-group-div" data-controller="collections">
  <div class="homepage-div">
  <%= image_tag "1background.png"%>


    <div class="rectangle-div"></div>
    <div class="rectangle-div1"></div>
    <div class="rectangle-div2"></div>
    <p class="rectangle-icon" alt="" src="public/rectangle-12.svg">
      <button type="button" style="width: 542px; background-color:#ED646E; border-radius: 30px;"class="btn btn-primary btn-lg btn-block">something</button>
    </p>
            <div class="where-women-can-get-answers-in">
      <h1 id="logo-home">scan<i style="color: #515ae9";><strong>Her.</i></strong></h1>
      <h3 class="where-women-can-get-answers-in1">Where women can get answers in days not years</h2>

      <p class="blank-line-p">
        <span><span>&nbsp;</span></span>
      </p>

      <p class="p">
        <span><span> </span></span>
      </p>
      <p class="blank-line-p1">
        <span><span>&nbsp;</span></span>
      </p>
      <p class="blank-line-p2">
        <span><span>&nbsp;</span></span>
      </p>
      <p class="blank-line-p3">
        <span><span>&nbsp;</span></span>
      </p>
    </div>
    <b class="how-it-works">How it works</b>
    <b class="scanning-services-b">Scanning Services</b>
    <b class="reviews-b">Reviews</b>
    <img class="line-icon1" alt="" src="public/line-4.svg" />

      <div class="regular-card-top-centre-icon">
        <img class="biheart-pulse-icon"alt=""src="public/biheartpulse.svg"/>
        <div class="personal-info-div">Step 2</div>
        <textarea class="lorem-ipsum-dolor-sit-amet-co">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </textarea>
      </div>


      <div class="regular-card-top-centre-icon1">
        <img class="biheart-pulse-icon"alt=""src="public/biheartpulse1.svg"/>
        <div class="personal-info-div">Step 1</div>
        <textarea class="lorem-ipsum-dolor-sit-amet-co">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </textarea>
      </div>

      <div class="regular-card-top-centre-icon2">
        <img class="biheart-pulse-icon"alt=""src="public/biheartpulse2.svg"/>
        <div class="personal-info-div">Step 3</div>
        <textarea class="lorem-ipsum-dolor-sit-amet-co">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </textarea>
      </div>

      <div class="regular-card-top-centre-icon3">
        <img class="biheart-pulse-icon"alt=""src="public/biheartpulse.svg"/>
        <div class="personal-info-div">Step 4</div>
        <div class="lorem-ipsum-dolor-sit-amet-co10">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>

    </div>
    <div class="clinic-card-div" id="clinicCardContainer">
      <div class="frame-div">
        <textarea class="clinic-banner-textarea"></textarea>
        <div class="scan-div">Scan</div>
        <div class="lorem-ipsum-dolor-sit-amet-co3">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="starting-from-price">
          <span>Starting from</span><span class="price-span"> ${price}</span>
        </div>
      </div>
    </div>
    <div class="clinic-card-div1" id="clinicCardContainer1">
      <div class="frame-div">
        <img
          class="clinic-banner-icon"
          alt=""
          src="public/clinic-banner.svg"/>
        <div class="scan-div">Scan</div>
        <div class="lorem-ipsum-dolor-sit-amet-co3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="starting-from-price">
          <span>Starting from</span><span class="price-span"> ${price}</span>
        </div>
      </div>
    </div>
    <div class="clinic-card-div2" id="clinicCardContainer2">
      <div class="frame-div">
        <div class="scan-div">Scan</div>
        <div class="lorem-ipsum-dolor-sit-amet-co3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="starting-from-price">
          <span>Starting from</span><span class="price-span"> ${price}</span>
        </div>
      </div>
    </div>
    <div class="clinic-card-div3" id="clinicCardContainer3">
      <div class="frame-div">
        <img class="clinic-banner-icon"alt="" src="public/clinic-banner.svg"/>
        <div class="scan-div">Scan</div>
        <div class="lorem-ipsum-dolor-sit-amet-co3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="starting-from-price">
          <span>Starting from</span><span class="price-span"> ${price}</span>
        </div>
      </div>
    </div>
    <div class="regular-card-icon-top-left">

      <div class="personal-info-div3">Review</div>
      <div class="lorem-ipsum-dolor-sit-amet-co7">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>

    <div class="regular-card-icon-top-left1">
      <img class="icon-park-outlineid-card-h"alt=""src="public/iconparkoutlineidcardh.svg"/>
      <img class="icon-park-outlineid-card-h" alt=""src="public/iconparkoutlineidcardh.svg"/>

      <div class="personal-info-div3">Review</div>
      <div class="lorem-ipsum-dolor-sit-amet-co7">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>

    <div class="regular-card-icon-top-left2">
      <img class="icon-park-outlineid-card-h"alt=""src="public/iconparkoutlineidcardh.svg"/><img class="icon-park-outlineid-card-h" alt="" src="public/iconparkoutlineidcardh.svg"/>
      <div class="personal-info-div3">Review</div>
      <div class="lorem-ipsum-dolor-sit-amet-co7">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>

    <div class="shine-a-light-on-your-reproduc">
      <p class="shine-a-light-on-your-reproduc1">
        <span
          ><span>Shine a light on your reproductive health</span
          ><span class="span"> </span></span>
      </p>
      <p class="blank-line-p4">
        <span><span>&nbsp;</span></span>
      </p>
      <p class="search-for-mri-ct-ultrasound">
        <span><span>Search for MRI, CT, ultrasound and pregnancy scans near you andbook online in minutes.</span></span>
      </p>
      <p class="blank-line-p5"><span>&nbsp;</span></p>
      <p class="blank-line-p3"><span>&nbsp;</span></p>
    </div>
    <div class="three-appointments-wrapped-up">
      Three appointments wrapped up into one, easy-to-use platform with
      dedicated guidance.
    </div>


    <%# <%= simple_form_for @ do |f| %>
    <%# <%= f.collection Service.all %>
    <%# <%= f.collection BodyPart.all %>
    <%# <% end %> 



    <div class="scan-type-div">Scan type</div>
    <%= simple_form_for @exam do |f| %>
      <%= f.input :service, collection: Exam::SERVICE %>
      <%# <%= f.input :body_part, collection: Exam::BODY_PART %> %>
      <%= f.association :service, input_html: { data: { action: 'change->body-part#updateInput '} } %>
      <%= f.submit "Add Timeslot", class: "btn btn-primary" %>
    <% end %>
    <div class="body-parts-div">Body part(s)</div>
    <div class="postcode-city-or-town">Postcode, city or town</div>
    <div class="symptoms-or-no-symptoms-book">Symptoms or no symptoms, book a scan that’s right for you and get to know you, like never before. Get the full picture and peace of mind,with direct access to our dedicated expert clinical team.
    </div>
  </div>
</div>


<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<img src="app/assets/images/scanHer.png" alt="" style="width:400px;height:100px;"/>
<%= link_to "See all Clinics", clinics_path %>



<script>
  var clinicCardContainer = document.getElementById("clinicCardContainer");
  if (clinicCardContainer) {
    clinicCardContainer.addEventListener("click", function (e) {
      // Please sync "Info Page" to the project
    });
  }

  var clinicCardContainer1 = document.getElementById("clinicCardContainer1");
  if (clinicCardContainer1) {
    clinicCardContainer1.addEventListener("click", function (e) {
      // Please sync "Info Page" to the project
    });
  }

  var clinicCardContainer2 = document.getElementById("clinicCardContainer2");
  if (clinicCardContainer2) {
    clinicCardContainer2.addEventListener("click", function (e) {
      // Please sync "Info Page" to the project
    });
  }

  var clinicCardContainer3 = document.getElementById("clinicCardContainer3");
  if (clinicCardContainer3) {
    clinicCardContainer3.addEventListener("click", function (e) {
      // Please sync "Info Page" to the project
    });
  }
  </script>
