<div class="container-login-form">
  <div class= "login_card">
    <h2><strong>Login</strong></h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>

        <div class="form-email">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
        </div>

          <div class="form-password">
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
          </div>

          <div class="form-remember">
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Login" %>
          </div>

      <% end %>
      <%= render "devise/shared/links" %>
  </div>
</div>
